##### This utility will show you how to load data from difference data sources.
We would be using Pandas to load the data

In [2]:
# Imports
import pandas as pd
print("Libraries loaded successfully")

Libraries loaded successfully

In [3]:
# Load data from CSV
# If you want to specify index column then use index_col, else you can remove it
dataframe_csv = pd.read_csv("mydatafile.csv", index_col="Number")
print("Data loaded successfully from CSV")

Data loaded successfully from CSV

In [4]:
# Print first five line of the dataframe
dataframe_csv.head()

       Name  Age
Number
1       Aaa   10
2       Bbb   20
3       Ccc   30

In [5]:
# Load data from Excel
# If you want to specify index column then use index_col, else you can remove it
# If you want to load the data from Specific sheet then use sheet_name, else you can remove it
# Defaults to 0: 1st sheet as a DataFrame
# 1: 2nd sheet as a DataFrame
# "Sheet1": Load sheet with name “Sheet1”
# [0, 1, "Sheet5"]: Load first, second and sheet named “Sheet5” as a dict of DataFrame
# None: All sheets.

dataframe_excel = pd.read_excel("mydatafile.xlsx", sheet_name='Sheet1', index_col="Number")
print("Data loaded successfully from Excel")

Data loaded successfully from Excel

In [6]:
# Print first five line of the dataframe
dataframe_excel.head()

       Name  Age
Number
1       Aaa   10
2       Bbb   20
3       Ccc   30